@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 143px;
}

#login-form {
  width: 400px;
  margin-bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top:91px;
}

#contents{
	margin-top:91px;
}

#contents{
	margin-top:10px;
	
}

/*sign in,create account 전체  */
.caption{
	margin-bottom:40px;
	text-align:left;
}


/*sign in*/
.create-account {
  font-size: 13px;
  font-weight:bold;
  color: black;
  text-decoration: none;
}

/*create account  */
.create-account_2 {
    color: lightgray;
    font-size: 13px;
    font-weight:bold;
    text-decoration: none;
    margin-left: 20px;
  }


/*아이디,비밀번호 항목 전체  */
.int-area {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.int-area:first-child {
  margin-top: 0;
}

/*아이디,비밀번호 항목  */
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
}

/*Account ID,Account Password   */
.int-area label {
  position: absolute;
  left: 0px;
  top: 1px;
  font-size: 10px;
  font-weight:bold;
  transition: top 0.5s ease;
  width: calc(100% - 20px); /* 라벨의 너비를 조절하여 왼쪽 여백을 없앰 */
}

/* 아이디 입력했을때 글자 크기  */
#id {
   font-size: 15px; /* 원하는 크기로 조절하세요 */
 }

/*Forgot id?,Forgot Password?  */
.int-area label.right {
  text-align: right; /* 오른쪽 정렬 */
  color:#ccc;
}


/*sign in, join us 버튼 전체 */
.btn-area {
  margin-top: 30px;
  margin-right:80px;
}

/*sign in 버튼  */
#btn {
  width: 125%;
  height: 45px;
  color: #fff;
  background: black;
  font-size: 15px;
  cursor: pointer;
}

/* join us 버튼 */
#btn_2 {
  width: 125%;
  height: 45px;
  color: black;
  background: white;
  font-size: 15px;
  cursor: pointer;
  margin-top:-20px;
  border:2px solid;
 
}

/*두번쨰 버튼  */
.btn-area_2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn_1, .btn_2 {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.larger-btn {
    width: 100px; 
    height: 44px; 
    font-size: 14px; 
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: #fff;
}


.btn_1 {
  background-color: black;
  color: #fff;
}

.btn_2 {
  background-color: white;
  color: black;
  border:1px solid black;
  border-radius: 4px;
 
}


/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}





