@charset "UTF-8";
/* ad_productList.css */

.container {
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.contents {
   padding-top: 150px;
   max-width: 1100px;
   min-width: 1100px;
   width: 100%;
   min-height: 800px;
}

#section2 {
   display: flex;      /* 한줄(수평)로 배치 */
	 justify-content: center;
}

-----------------------------

/* 내용 시작 */
#right {
   width: 88%;
}

.table_div {
   margin-top: 30px;
}

.table_div  table {
   border-collapse: collapse;
   width: 1100px; 
  /*  align: center; 왜 적용이 안되지??? */
    margin: 0 auto; /* 테이블을 가운데 정렬 */
}


.table_div  table th, td {
   padding-left: 2px;
   border-collapse: collapse; /* 테이블의 경계선을 합쳐서 보이지 않게 함 */
}


/* 글쓰기 버튼 */
.write-btn {
   margin-top: 20px;
   float: right;
   background-color: black;
   font-size: 12px;
   color: white;
   padding: 7px 12px 7px 12px;
}

td.top-border {
	padding-bottom: 5px;
    border-top: 1px solid black;
}

.notice-title {
	padding: 5px;
	font-size: 13px;
}

.notice-title a {
	text-decoration-line: none;
	color: inherit;
}

td.bottom-border {
	padding-top: 5px;
    border-bottom: 1px solid black;
}

.notice-date {
	padding: 5px;
	font-size: 12px;
	color: gray;
}

#container {
	width: 100vh; /* 가운데 정렬 */
}

/* 페이지버튼 */
.paging {
	padding-top: 20px;
}

.paging a {
	text-decoration: none;
	color: inherit;
}

/* 하단 검색창 */
/* .board-search {
	margin-top: 40px;
	display: flex;
	justify-content: center;
} */

.search-box {
	margin-right: 5px;
	width: 1035px;
	height: 40px;
	border: 1px solid lightgray;
}

.search-btn {
	width: 60px;
	height: 40px;
   background-color: black;
   font-size: 12px;
   color: white;
   padding: 7px 12px 7px 12px;
}

.search-wrap {
	margin-top: 5px;
	display: flex;
	justify-content: center;
}
.select-box {
	margin-top: 40px;
	display:flex;
}

/* 기간선택창 */
.time-select {
	border-color: lightgray;
	outline: none;
	margin-right: 5px;
	width: 548px;
	height: 40px;
}

/* 검색종류선택창 */
.title-select {
	border-color: lightgray;
	outline: none;
	width: 548px;
	height: 40px;
}

.wrap {
   min-height: calc(100% - 120px);
}

/* 페이징처리 화살표 속성 */
.fa-angle-left:before {
	color: gray;
	font-size: 11px;
}

.fa-angle-right:before {
	color: gray;
	font-size: 11px;
}

.paging a {
	margin-left: 10px;
	margin-right: 5px;
	font-size: 14px;
}