@charset "UTF-8";

#pd_DeList_container {
	width: 100%;
	margin: 0 auto;
}

#pd_DeList_contents {
	max-width: 1100px;
	min-width: 1100px;
	width: 100%;
	margin: 0 auto;
	min-height: 800px;
	padding-top : 150px;
}

#pd_DeList_section {
	display: flex;
	justify-content: space-between;
}

#pd_DeList_right {
	width: 88%;
}

.pd_DeList_table_div table {
	border-collapse: collapse;
	width: 800px;
	border: 1px solid #ccc;
	margin-top: 30px;
}

.pd_DeList_table_div table th {
	padding-left: 2px;
	text-align: center;
	font-size: 13px;
	width: 50px;
	border: 1px solid #ccc;	
	font-weight: 400;
	width: 150px;
}

.pd_DeList_table_div table td {
	height: 45px;	
	width: 650px;
	padding-left: 20px;
	font-size: 13px;
	border: 1px solid #ccc;
}

.pd_Delist_img {
	width: 130px;
	height: 100px;
}

#pd_DeList_name,
#pd_DeList_file1,
#pd_DeList_file2,
#pd_DeList_defile,
#pd_DeList_price,
#pd_DeList_cnt {
	width: 400px;
	height: 25px;
	border: 1px solid gray;
	padding: 0 0 0 10px;
	text-align: left;
}

.pd_DeList_btn {
	margin: 5px 10px 5px 0;
	padding: 5px 10px;
	background: white;
	cursor: pointer;
	border : 1px solid black;
	text-align: right;
}

